<%= form_with(model: @work, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.label :title, "作品名" %>
  <%= f.text_field :title, class: 'form-control' %>


  <%= f.label :diagram, "回路図" %>
  <span class="diagram">
    <%= f.file_field :diagram, accept: "image/jpeg,image/gif,image/png" %>
  </span>
<%
=begin
%>
  <%= f.label :picture, "作品写真(後日追加)" %>
  <%= f.text_field :picture, class: 'form-control' %>
<%
=end
%>
  <%= f.label :description, "作品説明" %>
  <%= f.text_area :description, class: 'form-control', size: "100x5" %>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>

<% end %>

<script type="text/javascript">
  $("#work_diagram").bind("change", function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert("画像ファイルは最大5MBです。");
      $("#work_diagram").val("");
    }
  });
</script>
